//todo colors
$scrollbar: rgb(145, 136, 136);

/*.........................................*/

.todosection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  min-width: 260px;
  height: fit-content;
  max-height: 85%;
  background-color: #ebecf0;
  border-radius: 5px;
}
.todosection_title {
  width: 100%;
  margin: 0 0 8px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 0.4rem;

  span {
    padding: 4px 8px;
  }
}

.todosection_tasks {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  min-height: 30px;
  overflow-y: auto;
}
.todosection_tasks::-webkit-scrollbar {
  width: 5px;
}
.todosection_tasks::-webkit-scrollbar-track {
  background-color: rgb(192, 190, 190);
  border-radius: 3px;
}
.todosection_tasks::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: $scrollbar;
  border-radius: 3px;
}
.todosection_add-icon {
  display: flex;
  width: 100%;
  justify-content: flex-end !important;
  gap: 12px;
  background-color: #ebecf0;
  padding: 0.3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
